<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
         version="2.4"> 
  <filter>
    <filter-name>sample-filter</filter-name>
    <filter-class>jp.cssj.cti2.examples.SampleFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>sample-filter</filter-name>
    <url-pattern>/source.jsp</url-pattern>
  </filter-mapping>
         
  <servlet>
    <servlet-name>sample-servlet</servlet-name>
    <servlet-class>jp.cssj.cti2.examples.SampleHttpServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>sample-servlet</servlet-name>
    <url-pattern>/pdf/*</url-pattern>
  </servlet-mapping>
  
</web-app>
